:root {
    --primary-color: #425b84;
    --secondary-color: #5b7bb4;
    --i-color: orange;
    --max-width: 2200px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.fas{
    color: var(--i-color);
}
body{
    font: normal 1rem/1.7 'arial', sans-serif;
    background: var(--primary-color);
    color: #fff;
    /* No horizontal scroll bars */
    overflow-x: hidden; 
    padding-bottom: 50px;
}
#main-header {
    background: var(--secondary-color);
    padding: 2rem;
}
#main-header > .container{
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

#timeline > ul {
    background: var(--primary-color)
}
/* Create Line */
#timeline > ul li {
    list-style: none;
    /* We will put the items inside absoulute */
    position: relative;
    /* Cretion of the line */
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}
/* Boxes */
#timeline > ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: var(--secondary-color);
    transition: all 0.5s ease-in-out;
}
