// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
// When compiling the scss file it will be located the css file in dist/css folder so we will refer to that
$bg-image: url("../img/showcase.jpg");
