@import "config";
@import "utilities";
// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &.current {
          border-color: $main-color;
        }

        &:hover {
          border-color: $medium-color;
        }
      }
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home Sections
#home {
  // Home Section A
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      .fas {
        color: $main-color;
        margin-bottom: 0.4rem;
      }
    }
  }
  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      li {
        padding: 1rem 0;
        line-height: 1;
        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div {
        padding: 3rem 0;
        &:nth-child(odd) {
          background-color: $light-color;
        }
        &:nth-child(even) {
          background-color: $medium-color;
        }
      }
    }
  }

  //   Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;
      text-align: center;
      // Process-step
      &-step {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 0.5rem;
        transition: all 0.5s;
        box-sizing: unset;
      }
      // Process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 1rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 0.5s;
        box-sizing: unset;

        &:hover {
          background: $main-color;
          width: 80px;
          height: 80px;
          line-height: 80px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// About
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template:
        "bio-image bio bio"
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
    }
    // Grid Area
    .bio-image {
      grid-area: bio-image;
    }
    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
      h4 {
        padding-bottom: 1rem;
      }
    }
    .award-1 {
      grid-area: aw1;
    }
    .award-2 {
      grid-area: aw2;
    }
    .award-3 {
      grid-area: aw3;
    }
    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }
  //   About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;
      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
  //   About C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      img {
        width: 70%;
      }
    }
  }
  //   About d
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0.5rem;

      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }
      p {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;

    .social {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;

      .fab {
        border: 2px #fff solid;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        line-height: 32px;
        text-align: center;

        &:hover {
          background: $main-color;
        }
      }
    }
  }
}
