// Function vs mixins
// Function - Returns something
// Mixins - is a set of styles that we want to include


// Set text color function
@function set-text-color($color) {
    @if( lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Transform mixin
@mixin transform($proprety) {
    --webkit-transform: $proprety;
    -ms-transform: $proprety;
    transform: $proprety; 
}