// Package.json settings
// Create a sass script - npm run sass
// run node-sass (-w) watch on folder scss/ (-o) output to folder dist/css --recursive flag

// 1) npm run sass
// It will constantly watch on the scss folder at any sass file in it and as soon as we save it'll compile into dist css which we haven't even created

// 2) dist is the only foder we deploy, the other folder is out dev env.

//-------------------------- Variables moved to _variables.scss partial, and this how we import it
@import 'variables';
@import 'functions';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    line-height: 1.5;
}

//-------------------------------------------- Nesting & Structuring
header{
    background: $dark-color;
    // function "set-text-color" call
    color: set-text-color($dark-color);
    padding: 1rem;

    // h1 is nested inside the header, the adventege is that its similar to the html
    h1 {
        text-align: center;
    }
}

.section {
    margin: 0 auto;
    padding: 2rem;
    max-width: 650px;

    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    // & refers to the perent (.section)
    &-a {
        background: $primary-color;
        color: set-text-color($primary-color);
    }
    &-b {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

//----------------------------------------- Psuedo 
// a {
//     display: inline-block;
//     color: #fff;
//     text-decoration: none;
//     padding: 1rem;
//     background: $dark-color;
//     border-radius: 10px;
// *** &:hover {
//         color: coral;
//         opacity: 0.85;

//     }
// }

//------------------------------------ Inheretence & Contrast
%btn-shared {
    display: inline-block;
    padding: 0.75rem 2rem;
    margin-top: 1rem ;
    border-radius: 10px;
    cursor: pointer ;
    text-decoration: none;
}

.btn {
    &-light {
        @extend %btn-shared;
        background-color: $light-color;
        color: set-text-color($light-color);
        &:hover {
            @include transform(rotate(-20deg));
            background-color: darken($light-color, 10%);
            color: coral;
        }
    }
    &-dark {
        @extend %btn-shared;
        background-color: $dark-color;
        color: set-text-color($dark-color);
        &:hover {
            @include transform(rotate(-20deg));
            color: coral;
            background-color: lighten($dark-color, 10%);
        }
    }
}
    
